# Unintentional Injuries Dataset

Summary of admissions to hospital and deaths in Scotland from unintentional injuries and assaults.


This dataset has 2 files: Admissions and Deaths. go to the source website to read more abotu it: https://www.opendata.nhs.scot/gl/dataset/unintentional-injuries

#### Your task is straightforward: 

1. Explore this dataset using Pandas.
2. Itentify and answer 5 questions in the notebook below

#### For EACH question should have following components:

- clear statement of the question (1 sentence)
- code which investigates your question in the dataset
- clear answer to the question (2-3 sentences)
- visualisation (can be very simple and can be anything: print, Pandas table, graph)

Remember these do not have to be complicated or long. It's just for practice. You will get feedback on your submission.

Next wednesday in during the labs each of you will present for 5-10 minutes what you achieved. You will share your screen and show everyone else what you prepared.

- just show your notebook, with questions, code and graphs (no need for slides or anything else)
- Between 5 and 10 minutes is not a long time, so you might chose to presend only 2-3 of your questions. Or show all of them but focus on your favourite. You decide what you'll do with your presenting time.
- this is not marked but you will get feedback about your code, questions and visualisation. This type of question-answering will be a part of the final assignment, so this feedback will be useful

For people who cannot attend the Wednesday session on week 3:

- complete this notebook with 5 questions as everyone else
- pick your favourite 2 questions and post the answer (code, writings and visualisation) in Learn Forum for "Formative Assignment". This will replace your presenting during the lab. Please do it by the end of last lab (Wednesday Week 3, 8pm). We will take a few days to give you feedback.

In [1]:
# load the data - this might take a while, because files are large. 
# you should need to do this just once, really.
import pandas as pd

admissions_df = pd.read_csv('https://www.opendata.nhs.scot/dataset/b0135993-3d8a-4f3b-afcf-e01f4d52137c/resource/aee43295-2a13-48f6-bf05-92769ca7c6cf/download/ui_admissions_2022.csv')
deaths_df = pd.read_csv('https://www.opendata.nhs.scot/dataset/b0135993-3d8a-4f3b-afcf-e01f4d52137c/resource/89807e07-fc5f-4b5e-a077-e4cf59491139/download/ui_deaths_-2022-.csv')

In [2]:
admissions_df

,FinancialYear,HBR,HBRQF,CA,CAQF,AgeGroup,AgeGroupQF,Sex,SexQF,InjuryLocation,InjuryLocationQF,InjuryType,InjuryTypeQF,NumberOfAdmissions
0,2012/13,S92000003,d,S92000003,d,All,d,All,d,All,d,All Diagnoses,d,53815
1,2012/13,S92000003,d,S92000003,d,All,d,All,d,All,d,RTA,NaN,3008
2,2012/13,S92000003,d,S92000003,d,All,d,All,d,All,d,Poisoning,NaN,2242
3,2012/13,S92000003,d,S92000003,d,All,d,All,d,All,d,Falls,NaN,33385
4,2012/13,S92000003,d,S92000003,d,All,d,All,d,All,d,"Struck by, against",NaN,2423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391108,2021/22,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,"Struck by, against",NaN,2
391109,2021/22,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Crushing,NaN,0
391110,2021/22,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Scalds,NaN,0
391111,2021/22,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Accidental Exposure,NaN,13
391112,2021/22,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Other,NaN,13

In [3]:
deaths_df

,Year,HBR,HBRQF,CA,CAQF,AgeGroup,AgeGroupQF,Sex,SexQF,InjuryLocation,InjuryLocationQF,InjuryType,InjuryTypeQF,NumberofDeaths
0,2012,S92000003,d,S92000003,d,All,d,All,d,All,d,All,d,1629
1,2012,S92000003,d,S92000003,d,All,d,All,d,All,d,Land transport accidents,NaN,198
2,2012,S92000003,d,S92000003,d,All,d,All,d,All,d,Poisoning,NaN,508
3,2012,S92000003,d,S92000003,d,All,d,All,d,All,d,Falls,NaN,705
4,2012,S92000003,d,S92000003,d,All,d,All,d,All,d,"Struck by,against",NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180787,2021,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,"Struck by,against",NaN,0
180788,2021,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Crushing,NaN,0
180789,2021,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Scalds,NaN,0
180790,2021,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Accidental exposure,NaN,3
180791,2021,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Other,NaN,0

**OK, good luck!**

remember to clearly identify **which question** is which (A,B,C,D,E) and **each question's parts** (question, answer, code, visualisation)