This notebook shows you data of 4 APIs which we will look at in the future. This time the data si not 'live' but rather loaded from a JSON file.

Your task is to look at the data and try to answer the example questions given below.

In [ ]:
# already done for you: run this to get the libraries
import json
import pprint as pp

In [ ]:
# already done for you: 
# you need to do this just once, to doad the data into variables. 
# Data is not live, but rather loaded from files, to remove unpleasant surprises

def load_file_named(filename):
    file = open(f'data/{filename}')
    loaded_data =  json.load(file)
    file.close()
    return loaded_data

In [ ]:
# already done for you: 

# Bank of Scotland list of ATMs: https://developer.bankofscotland.co.uk/opendata-v2.2#get-atms-2.2

bankofscotland_atms = load_file_named('bankofscotland_atms.json')


# Open Movie Database: http://www.omdbapi.com/

starwars_movies = load_file_named('starwars_movies.json')

# weather for 3 cities from from https://www.weatherapi.com/docs/#apis-forecast

weather_edinburgh = load_file_named('weather_edinburgh.json')
weather_london = load_file_named('weather_london.json')
weather_glasgow = load_file_named('weather_glasgow.json')
# if you choose to use dates, this is weather for time: datetime.fromisoformat("2021-11-05 14:18:05")


# Plane departures and arrivals from https://aviationstack.com/documentation

planes_edinburgh_arrivals = load_file_named('planes_edinburgh_arrivals.json')
planes_edinburgh_departures = load_file_named('planes_edinburgh_departures.json')
planes_glasgow_arrivals = load_file_named('planes_glasgow_arrivals.json')
planes_glasgow_departures = load_file_named('planes_glasgow_departures.json')

print('all files loaded')

# Part 1: ATMS - Bank of Scotland list of ATMs: 

https://developer.bankofscotland.co.uk/opendata-v2.2#get-atms-2.2
 
Investigate the data you are given (in a variable bankofscotland_atms) and write functions that will satisfy below tests.

But first, here are some lines of code to get you started.

In [ ]:
# some notes/starters

print("first atm town")
print(bankofscotland_atms[0]['Location']['PostalAddress']['TownName'] )

In [ ]:
cities_all = [atm['Location']['PostalAddress']['TownName'] for atm in bankofscotland_atms]
cities_unique = set(cities_all)
cities_with_one_atm = [city 
                       for city in cities_unique 
                       if cities_all.count(city) == 1]
print("\ntowns with one atm")
print(cities_with_one_atm)

In [ ]:
glasgowLon = -4.251433
all_atm_towns_west_from_glasgow = [ 
    atm['Location']['PostalAddress']['TownName']
    for atm in bankofscotland_atms 
    if float(atm['Location']['PostalAddress']['GeoLocation']['GeographicCoordinates']['Longitude']) < glasgowLon
]
unique_towns_west_from_glasgow = set(all_atm_towns_west_from_glasgow)
print("\nunique towns west from glasgow")
print(unique_towns_west_from_glasgow)

In [ ]:
# example function:
# return the postcode of the first atm with a given Identification.
# if there is no atm with this Identification, just return None
# first atm just happens to have an id 'BFF7BC11'

def postcode_of_atm_with_id(some_atms, atm_id):
    postcodes_of_atms_with_this_id = [atm['Location']['PostalAddress']['PostCode']
                                    for atm in some_atms
                                    if atm['Identification'] == atm_id]
    
    if len(postcodes_of_atms_with_this_id) > 0:
        return postcodes_of_atms_with_this_id[0] # return first one
    else:
        return None
    
# calling the function:

print(postcode_of_atm_with_id(bankofscotland_atms, 'BFF7BC11'))
print(postcode_of_atm_with_id(bankofscotland_atms, 'banana'))

### Some things you could look at:
 
- number of atms
- data of atm with given id eg. 'BFF7BC11'
- townname of the postal address of the first ATM
- townname of the postal address of the ATM with given id eg. 'BFF7BC11'
- number of ATMS in a given townname of the postal address  eg. Glasgow
- street name of all ATMs for a TownName of the postal address eg. Glasgow
- unique list of all TownNames in the dataset
- unique list of all TownNames in the dataset, but only towns that have more than 5 atms
- each Location has info about LocationCategory (BranchInternal/BranchExternal/Lobby/Other), get percent of 'BranchExternal' ATMS in a given townname of the postal address  eg. Glasgow. (number of external ones in that town, divided by number of all in that town)
- address of the first atm in the format \"Glasgow, 136 Buchanan Street, G63 0TG\" if the data about the branch are: 'StreetName': '136 BUCHANAN STREET', 'PostCode': 'G63 0TG', 'TownName': 'GLASGOW'

# Part 2: Movies

Try these things:

- how many movies aree there in the list?
- what years were the movies made in?
- which movie was made first? (you might have to do it in a few steps)
- ??datetime: what is the average time distance between cinema release and dvd release
- get a unique list of individual actors, use split for individual names "a--b--c".split("--")
- what is the average Metascore of a movie?
- what is the average runtime of a movie?
- is total lengths of movies made before a particular year (eg.2000) longer than total length of moview made after?
- what's the title of the most expensive movie?
- describe movie in a particular format
- what's the most common word appearing in the plot descriptions?

In [ ]:
# hints strings into lists, and back:
print("a--b--c".split("--"))
print("--".join(["z","x","y"]))
print("34 hours".rstrip(" hours"))

In [ ]:
from statistics import mean 

print(mean([-6,1,2,3]))

some_numbers = [-20,-10,-3,4,5,9,10]
print(len(some_numbers), "length")
print(sum(some_numbers),"sum")
print(sum(some_numbers)/len(some_numbers), "mean")
print(max(some_numbers), "max")
print(min(some_numbers), "min")

print(mean(some_numbers), "mean, but a different way to get it, imported from statistics library")

average_of_positive_numbers = mean([number for number in some_numbers if number > 0])
print(average_of_positive_numbers, "average of positive numbers")

# Part 3: Weather

Have a look at the data format and try to answer a simple question eg. today, which of the cities will be warmest? And which will be most likely to rain?  You have these variables at your disposal: weather_edinburgh, weather_london and weather_glasgow. Feel free to pick any other question, if you prefer it.

In [ ]:
print(len(weather_edinburgh['forecast']['forecastday']))

print("\nfirst day midnight temperature")
print(weather_edinburgh['forecast']['forecastday'][0]['hour'][0]['time'])
print(weather_edinburgh['forecast']['forecastday'][0]['hour'][0]['temp_c'])

print("\ninfo about each hour:")
print(weather_edinburgh['forecast']['forecastday'][0]['hour'][0].keys())

In [ ]:
def which_city_is_warmest_tomorrow():
    # look into the variables, find out the answer and return the name of the city

In [ ]:
def which_city_is_most_likely_to_rain_tomorrow():
    # look into the variables, find out the answer and return the name of the city

# Part 4: Flights

Have a look at the data format and try to answer a simple question eg. What is the name of three most popular airlines arriving at each airport? You have these variables at your disposal: planes_edinburgh_arrivals, planes_edinburgh_departures, planes_glasgow_arrivals, planes_glasgow_departures. Feel free to pick any other question, if you prefer it.

In [ ]:
planes_edinburgh_arrivals[0]['departure']['airport']

In [ ]:
def plane_description(plane_info):
    dep_place = plane_info['departure']['airport']
    arr_place = plane_info['arrival']['airport']
    arr_time = plane_info['arrival']['scheduled']
    return f"from {dep_place} to {arr_place} expected at {arr_time}"
    

all_planes_info = [
    plane_description(plane)
    for plane in planes_edinburgh_arrivals
]

pp.pprint(all_planes_info)

In [1]:
for x in [2,3]:
    print(x)

2
3

In [6]:
def eat(d):
    print(d)

In [9]:
fruits = ["üçé","üçå","üçê"]
for fruit in fruits:
    print(f"{fruit} YAY!")

üçé mmm!
üçå mmm!
üçê mmm!