In [ ]:
# experimental: you can run this cell to see your code full-width
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
import pprint as pp
from datetime import datetime, timedelta, date, timezone
import json

### In this notebook you will find two small datasets to play with: Large UK sities, Oscar winning movies

Come up with questions and answer them. hint: use List comprehensions and remember that often you you need to split the task into smaller chunks 

Some example questions you might want to investigate. A good way to approach it is: 
- specify a question 
- write a function that answer the question
- write a short answer to a question.

eg.
Q: How many cities are north of Hadrian's wall? (i.e. their Latitude is higher than 55)
A: Edinburgh and Glasgow are north of Hadrian's wall (this is a simplification).

Code:

```
def cities_names_north_of(all_cities, latitude_boundary):
    return [
        city['Name']
        for city in all_cities
        if city['Geo']['Coordinates']['Latitude'] > latitude_boundary
    ]

north_of_the_wall = cities_names_north_of(cities_uk, 55)
print(north_of_the_wall)

### ['Glasgow', 'Edinburgh']
```

### First Dataset: Large UK cities

Here are some example questions:

- how many cities are there in the dataset?
- What is the average population of those cities? How about average density of population?
- which cities are South of a city called Edinburgh?

This dataset is rather small and simple. Try to answer a few short questions and move to the more interesting dataset 2.

In [17]:

cities_uk = [{'Geo': {'AreaKm2': 1572,
          'Coordinates': {'Latitude': 51.51, 'Longitude': -0.13}},
          'Name': 'London',
          'Population': 8908081,
          'Year_Founded': 47},
         {'Geo': {'AreaKm2': 267.77,
                  'Coordinates': {'Latitude': 52.48, 'Longitude': -1.9}},
          'Name': 'Birmingham',
          'Population': 1137100,
          'Year_Founded': 1086},
         {'Geo': {'AreaKm2': 551.7,
                  'Coordinates': {'Latitude': 53.8, 'Longitude': -1.55}},
          'Name': 'Leeds',
          'Population': 789194,
          'Year_Founded': 1893},
         {'Geo': {'AreaKm2': 3298,
                  'Coordinates': {'Latitude': 55.86, 'Longitude': -4.25}},
          'Name': 'Glasgow',
          'Population': 635640,
          'Year_Founded': 1454},
         {'Geo': {'AreaKm2': 142.06,
                  'Coordinates': {'Latitude': 53.38, 'Longitude': -1.47}},
          'Name': 'Sheffield',
          'Population': 577800,
          'Year_Founded': 701},
         {'Geo': {'AreaKm2': 110,
                  'Coordinates': {'Latitude': 51.45, 'Longitude': -2.58}},
          'Name': 'Bristol',
          'Population': 567111,
          'Year_Founded': 1155},
         {'Geo': {'AreaKm2': 115.6,
                  'Coordinates': {'Latitude': 53.47, 'Longitude': -2.23}},
          'Name': 'Manchester',
          'Population': 547627,
          'Year_Founded': 1301},
         {'Geo': {'AreaKm2': 111.84,
                  'Coordinates': {'Latitude': 53.41, 'Longitude': -2.99}},
          'Name': 'Liverpool',
          'Population': 513441,
          'Year_Founded': 1207},
         {'Geo': {'AreaKm2': 259,
                  'Coordinates': {'Latitude': 55.95, 'Longitude': -3.2}},
          'Name': 'Edinburgh',
          'Population': 488050,
          'Year_Founded': 601},
         {'Geo': {'AreaKm2': 132.5,
                  'Coordinates': {'Latitude': 54.35, 'Longitude': -5.55}},
          'Name': 'Belfast',
          'Population': 345418,
          'Year_Founded': 1613},
         {'Geo': {'AreaKm2': 140,
                  'Coordinates': {'Latitude': 51.28, 'Longitude': -3.10}},
          'Name': 'Cardiff',
          'Population': 362400,
          'Year_Founded': 1111},             
        ]

In [18]:
# example

def cities_names_north_of(all_cities, latitude_boundary):
    return [
        city['Name']
        for city in all_cities
        if city['Geo']['Coordinates']['Latitude'] > latitude_boundary
    ]

north_of_the_wall = cities_names_north_of(cities_uk, 55)
print(north_of_the_wall)

['Glasgow', 'Edinburgh']

# Second dataset: Oscar winning movies

This dataset is included in a separate file, it's too large to include in this notebook. It describes a large number of oscar-winning movies. Have a look at what we know about each movie - code below prints an example of a movie. 

Here are some example questions:

- how many movies are there in the dataset?
- What percentage of movies lists only 'English' as their language? How many list 'Spanish'?
- What genre is more popular Adventure or Comedy? Which are on average longer or have higher BoxOffice earnings (if known)?
- Does average runtime increase over the years?
- Which word is more popular in Plot descriptions eg. 'family' or 'friends'? (pick any two words that you like)

In [77]:
# functions to get the data: Run this cell to load the data into variables
# it's done for you, so no need to change anything here, or indeed to understnd it, at this point

# this function just loads the data from files, there is no need to understand how it does it.
def load_json_file_named(file_name):
    try: 
        loaded_data = []
        file_location = f"./data/{file_name}"
        with open(file_location, 'r') as file: # or f"data/{file_name}" depending on your files
            loaded_data =  json.load(file)
    except OSError as e:
        print(f"Error. Does the file exist in this folder? {file_location}\n\n {e}")
    return loaded_data

oscar_movies = load_json_file_named('oscar_movies.json')

In [78]:
print('all', len(oscar_movies),'movies loaded')
# data is from https://www.omdbapi.com/ aquired via a Patreon donation

all 485 movies loaded

## Your code and data exploration below

Remember you can add more cells with the + icon, or Insert > Cell

In [79]:
# example code
oscar_movies[4]

{'Title': 'Soul',
 'Year': '2020',
 'Rated': 'PG',
 'Released': '25 Dec 2020',
 'Runtime': '100 min',
 'Genre': 'Animation, Adventure, Comedy',
 'Director': 'Pete Docter, Kemp Powers',
 'Writer': 'Pete Docter, Mike Jones, Kemp Powers',
 'Actors': 'Jamie Foxx, Tina Fey, Graham Norton',
 'Plot': 'After landing the gig of a lifetime, a New York jazz pianist suddenly finds himself trapped in a strange land between Earth and the afterlife.',
 'Language': 'English, Korean, Inuktitut',
 'Country': 'United States',
 'Awards': 'Won 2 Oscars. 117 wins & 91 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BZGE1MDg5M2MtNTkyZS00MTY5LTg1YzUtZTlhZmM1Y2EwNmFmXkEyXkFqcGdeQXVyNjA3OTI0MDc@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '95%'},
  {'Source': 'Metacritic', 'Value': '83/100'}],
 'Metascore': '83',
 'imdbRating': '8.1',
 'imdbVotes': '284,194',
 'imdbID': 'tt2948372',
 'Type': 'movie',
 'DVD': '25 Dec 2020',
 'BoxOffice': 'N/A',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [80]:
# example code
def get_genres(one_movie):
    return one_movie['Genre'].split(', ')

print(get_genres(oscar_movies[0]))

assert get_genres(oscar_movies[0]) == ['Biography', 'Drama', 'History']
print("tests passed")

['Biography', 'Drama', 'History']
tests passed

In [81]:
# example code
def is_movie_this_genre(one_movie, genre):
    genres = one_movie['Genre'].split(', ')
    return genre in genres # remember this? 

print(is_movie_this_genre(oscar_movies[0], 'History'))

assert is_movie_this_genre(oscar_movies[0], 'History') == True
assert is_movie_this_genre(oscar_movies[0], 'Romance') == False
print("tests passed")

True
tests passed